.navigation-link {
    display: flex;
    text-decoration: none;
    color: inherit;
    flex: 1;
}

.v-navigation-drawer {
    z-index: 5;
}

.v-content__wrap .title {
    margin-bottom: 15px;
}

.no-shadow {
    box-shadow: none !important;
}

.headline {
    font-size: 18px !important;

    line-height: 18px !important;
}

.toolbar-input .v-input__slot {
    margin-bottom: 0px !important;
}

.v-list__group--active {
    background: #f5f5f5;
}

.v-list__group--active .v-list__group__header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.v-list__group__items .v-list__tile:hover {
    background: rgba(0, 0, 0, 0.04);
}

button {
  outline: none !important;
}

.card-content .flex {padding: 0px 10px;}
