.navigation-link{
    display: flex;
    text-decoration: none;
    color: inherit;
    flex: 1;
}
.v-navigation-drawer{
    z-index: 5;
}
.v-content__wrap .title{
    margin-bottom: 15px;
}

.no-shadow {
    box-shadow: none !important;
}

.headline {
    font-size: 18px !important;

    line-height: 18px !important;
}

.toolbar-input .v-input__slot{
    margin-bottom: 0px !important;
}