.navigation-link{
    display: flex;
    text-decoration: none;
    color: inherit;
    flex: 1;
}
.v-navigation-drawer{
    z-index: 5;
}
.v-content__wrap .title{
    margin-bottom: 15px;
}

.ag-theme-balham {
    height: calc(100vh - 240px) !important;
}
.blue {
    background-image: -webkit-linear-gradient(bottom right, #2196f3 50%, #2196f3 50%);
    color: black;
}
.orange {
    background-image: -webkit-linear-gradient(bottom right, #fb8c00 50%, #fb8c00 50%);
    color: black;
}
.red {
    background-image: -webkit-linear-gradient(bottom right, #f44336 50%, #f44336 50%);
    color: black;
}
.green{
    background-image: -webkit-linear-gradient(bottom right, #4caf50 50%, #4caf50 50%);
    color: black;
}



.blue_evening {
    background-image: -webkit-linear-gradient(bottom right, #2196f3 50%, #fff 50%);
    color: black;
}
.orange_evening{
    background-image: -webkit-linear-gradient(bottom right, #fb8c00 50%, #fff 50%);
    color: black;
}
.red_evening {
    background-image: -webkit-linear-gradient(bottom right, #f44336 50%, #fff 50%);
    color: black;
}
.green_evening {
    background-image: -webkit-linear-gradient(bottom right, #4caf50 50%, #fff 50%);
    color: black;
}





.blue_morning {
    background-image: -webkit-linear-gradient(bottom right, #fff 50%, #2196f3 50%);
    color: black;
}
.orange_morning {
    background-image: -webkit-linear-gradient(bottom right, #fff 50%, #fb8c00 50%);
    color: black;
}
.red_morning {
    background-image: -webkit-linear-gradient(bottom right, #fff 50%, #f44336 50%);
    color: black;
}
.green_morning{
    background-image: -webkit-linear-gradient(bottom right, #fff 50%, #4caf50 50%);
    color: black;
}


.blue_evening.blue_morning {
    background-image: -webkit-linear-gradient(bottom right, #2196f3 48%,  #fff 50%, #2196f3 52%);
    color: black;
}
.orange_evening.blue_morning{
    background-image: -webkit-linear-gradient(bottom right, #fb8c00 50%, #2196f3 50%);
    color: black;
}
.red_evening.blue_morning {
    background-image: -webkit-linear-gradient(bottom right, #f44336 50%, #2196f3 50%);
    color: black;
}
.green_evening.blue_morning {
    background-image: -webkit-linear-gradient(bottom right, #4caf50 50%, #2196f3 50%);
    color: black;
}


.blue_evening.orange_morning {
    background-image: -webkit-linear-gradient(bottom right, #2196f3 50%, #fb8c00 50%);
    color: black;
}
.orange_evening.orange_morning{
    background-image: -webkit-linear-gradient(bottom right, #fb8c00 48%,  #fff 50%, #fb8c00 52%);
    color: black;
}
.red_evening.orange_morning {
    background-image: -webkit-linear-gradient(bottom right, #f44336 50%, #fb8c00 50%);
    color: black;
}
.green_evening.orange_morning {
    background-image: -webkit-linear-gradient(bottom right, #4caf50 50%, #fb8c00 50%);
    color: black;
}


.blue_evening.red_morning {
    background-image: -webkit-linear-gradient(bottom right, #2196f3 50%, #f44336 50%);
    color: black;
}
.orange_evening.red_morning{
    background-image: -webkit-linear-gradient(bottom right, #fb8c00 50%, #f44336 50%);
    color: black;
}
.red_evening.red_morning {
    background-image: -webkit-linear-gradient(bottom right, #f44336 48%, #fff 50%, #f44336 52%);
    color: black;
}
.green_evening.red_morning {
    background-image: -webkit-linear-gradient(bottom right, #4caf50 50%, #f44336 50%);
    color: black;
}


.blue_evening.green_morning {
    background-image: -webkit-linear-gradient(bottom right, #2196f3 50%, #4caf50 50%);
    color: black;
}
.blue_evening.green_morning:before{
    display: block;
    content: ' ';
}
.orange_evening.green_morning{
    background-image: -webkit-linear-gradient(bottom right, #fb8c00 50%, #4caf50 50%);
    color: black;
}
.red_evening.green_morning {
    background-image: -webkit-linear-gradient(bottom right, #f44336 50%, #4caf50 50%);
    color: black;
}
.green_evening.green_morning {
    background-image: -webkit-linear-gradient(bottom right, #4caf50 48%, #fff 50%, #4caf50 52%);
    color: black;
}
